<div class="card-header d-flex justify-content-between">
<h5 class='m-0 text-dark'>
Editing Crime List</h5>



<%= render 'form', crime_list: @crime_list %>

<%= link_to 'Show', @crime_list %> |
<%= link_to 'Back', crime_lists_path %>
</div>
